= form_for @post, url: {controller: 'admins/posts', action: 'update' } do |f| 
  = f.label :name
  = f.text_field :name
  = f.label :payment
  = f.text_field :payment
  = f.label :station
  = f.text_field :station
  = f.label :rest_day
  = f.text_field :rest_day
  = f.label :place
  = f.text_field :place
  = f.label :open_time
  = f.text_field :open_time
  = f.label :store_url
  = f.text_field :store_url
  = f.label :tag
  - @tags.each do |tag|
    = f.check_box :tag_list, { multiple: true }, "#{tag.name}", nil 
    = f.label " #{tag.name}(#{tag.taggings_count})"
  #previews
    - if @post.persisted?
      - @post.images.each_with_index do |image, i|
        = image_tag image.image.url, data: { index: i }, width: "100", height: '100'
  #image-box
    = f.fields_for :images do |image|
      %div{class: 'js-file_group' , data: {index: "#{image.index}"}}
        = image.file_field :image, class: 'js-file'
        %span.js-remove 削除
      - if @post.persisted?
        = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
    - if @post.persisted?
      %div{class: 'js-file_group' , data: {index: "#{@post.images.count}"}}
        = file_field_tag :image, name: "post[images_attributes][#{@post.images.count}][image]", class: 'js-file'
        .js-remove 削除
  = f.submit