<%= form_for @post, url: admins_posts_path do |f| %>
  商品名<%= f.text_field :name %><br> 
  価格<%= f.text_field :payment %><br>
  最寄り駅<%= f.text_field :station %><br>
  定休日<%= f.text_field :rest_day %><br>
  住所<%= f.text_field :place %><br>
  営業時間<%= f.text_field :open_time %><br>
  お店のURL<%= f.text_field :store_url %><br>
  <% @tags.each do |tag| %>
    <%= f.check_box :tag_list, { multiple: true }, "#{tag.name}", nil %>
    <%= f.label " #{tag.name}(#{tag.taggings_count})" %>
  <% end %>
  <%= f.fields_for :images do |i| %> 
    <%= i.file_field :image %><br>
  <% end %>
  <%= f.submit %> 
<% end %>

<hr>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= raw(post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= form_for(@post, url: {controller: 'admins/posts', action: 'search' }) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <% @tags.each do |tag| %>
    <%= f.check_box :tag_list, { multiple: true }, "#{tag.name}", nil %>
    <%= f.label " #{tag.name}(#{tag.taggings_count})" %>
  <% end %>

  <%= f.submit "検索" %>
<% end %>

<hr>

