<div class="comments">
  <h4>＜コメント一覧＞</h4>
  <% if comments %>
    <% comments.each do |comment| %>
      <p class="comment_border">
        <strong><%= comment.user.nickname %>：</strong>
        <%= comment.title %>
        <div id="star-rate-<%= comment.id %>"></div>
        <%= comment.text %>
        <% if admin_signed_in? || user_signed_in? && current_user.id == comment.user_id || current_admin %>
          <%=link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete %>
        <% end %>
      </p>
      <hr>
      <script type="application/javascript">
        $(document).on('turbolinks:load', function() {
          $('#star-rate-<%= comment.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= comment.rate %>',
          });
        });
      </script>
    <% end %>
  <% end %>
</div>