
<div class="image__section"> <%# 写真%>
  <%= image_tag 'patrick-tomasso-GXXYkSwndP4-unsplash' , class: 'image__section--size'%>
</div>

<div class="tag__section"><%# タグ検索%>
  <div class="tag__section--search">
    <div class="tag-title">検索</div>
    <%= form_for(@post, url: {controller: 'posts', action: 'search' }) do |f| %>
      <div class="store_name">
        <%= f.label :store , class: 'store_name-size'%>
        <%= f.text_field :name , class: 'store_name-size form-control' %>
      </div>
      <br>
      <div class="form_check-line form_check-sub form-check-inline check_box">
        <% @tags.each do |tag| %>
          <%= f.check_box :tag_list , { multiple: true , class: 'interested' }, "#{tag.name}", nil %>
          <%= f.label " #{tag.name}(#{tag.taggings_count})" , class: 'interested' %>
        <% end %>
      </div>     
      <%= f.submit "検索" , class: 'submit btn btn-outline-primary'%>
    <% end %>
    <span class="space_submit"></span>
  </div>
</div>

<%# おすすめ%>
<div class="all_store">
  <div class="all_store-recommend">
    <div class="space">
      <p class="left store_adjust">#aaaタグ</p>
      <% @ccc_posts.each do |post| %>
        <div class="separate_store">
          <div class="separate_store-list">
            <div class="image_list">
              <%= image_tag post.images.first.image.url , class: "image_list-size" %>
            </div>
            <%= link_to "#{post.name}", post_path(post) , data: {"turbolinks": false} %>
            (<%= post.liked_users.count %>)
          </div>
        </div>
      <% end %>
      <p class="right">リンク</p>
    </div>
  </div>
</div>

<%# 新着%>
<div class="all_store">
  <div class="all_store-recommend">
    <div class="space">
      <p class="left store_adjust">#aaaタグ</p>
      <% @aaa_posts.each do |post| %>
        <div class="separate_store">
          <div class="separate_store-list">
            <div class="image_list">
              <%= image_tag post.images.first.image.url , class: "image_list-size" %>
            </div>
            
            <%= link_to "#{post.name}", post_path(post), data: {"turbolinks": false} %>
            (<%= post.liked_users.count %>)
          </div>
        </div>
      <% end %>
      <p class="right">リンク</p>
    </div>
  </div>
</div>

<div class="all_store">
  <div class="all_store-recommend">
    <div class="space">
      <p class="left store_adjust">#aaaタグ</p>
      <% @bbb_posts.each do |post| %>
        <div class="separate_store">
          <div class="separate_store-list">
            <div class="image_list">
              <%= image_tag post.images.first.image.url , class: "image_list-size" %>
            </div>
            
            <%= link_to "#{post.name}", post_path(post), data: {"turbolinks": false} %>
            (<%= post.liked_users.count %>)
          </div>
        </div>
      <% end %>
      <p class="right">リンク</p>
    </div>
  </div>
</div>

<div class="all_store footer-adjust">
  <div class="all_store-recommend">
    <div class="space">
      <p class="left store_adjust">#aaaタグ</p>
      <% @ddd_posts.each do |post| %>
        <div class="separate_store">
          <div class="separate_store-list">
            <div class="image_list">
              <%= image_tag post.images.first.image.url , class: "image_list-size" %>
            </div>
            
            <%= link_to "#{post.name}", post_path(post), data: {"turbolinks": false} %>
            (<%= post.liked_users.count %>)
          </div>
        </div>
      <% end %>
      <p class="right">リンク</p>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer_nav">
    <%#  link_to  class footer_nav-item %>
    <p class="footer_list">aaa</p>
    <p class="footer_list"> bbb</p>
    <p class="footer_list">ccc</p>
  </div>
  <div class="footer_copy">
    <p>aaaaaaaaaaaaaaaaaaa</p>
  </div>
</div>