.image__section
  = image_tag 'patrick-tomasso-GXXYkSwndP4-unsplash' , class: "image__section--size"

.tag__section
  = render 'tag_section', post: @post , tags: @tags

.js-postsIndex
  .all_store
    .all_store-recommend
      .space
        %p.left.store_adjust #aaaタグ
        - @aaa_posts.each do |post|
          .separate_store
            .separate_store-list
              %span.v_click{'v-on:click': "setPostInfo(#{post.id})"}
                .image_list
                  = image_tag post.images.first.image.url , class: "image_list-size"
                = link_to "#{post.name}", post_path(post) , data: {"turbolinks": false}
                = post.liked_users.count
        %p.right リンク

  .row{'v-show': 'postInfoBool'}
    .col.s12.m12
      .card.blue-grey.darken-1
        .card-content.white-text
          %p {{ postInfo.name }}

  .all_store
    .all_store-recommend
      .space
        %p.left.store_adjust #aaaタグ
        - @bbb_posts.each do |post|
          .separate_store
            .separate_store-list
              %span.v_click{'v-on:click': "setPostInfo(#{post.id})"}
                .image_list
                  = image_tag post.images.first.image.url , class: "image_list-size"
                = link_to "#{post.name}", post_path(post) , data: {"turbolinks": false}
                = post.liked_users.count
        %p.right リンク

  .row{'v-show': 'postInfoBool'}
    .col.s12.m12
      .card.blue-grey.darken-1
        .card-content.white-text
          %p {{ postInfo.name }}

  .all_store
    .all_store-recommend
      .space
        %p.left.store_adjust #aaaタグ
        - @ccc_posts.each do |post|
          .separate_store
            .separate_store-list
              %span.v_click{'v-on:click': "setPostInfo(#{post.id})"}
                .image_list
                  = image_tag post.images.first.image.url , class: "image_list-size"
                = link_to "#{post.name}", post_path(post) , data: {"turbolinks": false}
                = post.liked_users.count
        %p.right リンク

  .row{'v-show': 'postInfoBool'}
    .col.s12.m12
      .card.blue-grey.darken-1
        .card-content.white-text
          %p {{ postInfo.name }}


  .all_store
    .all_store-recommend
      .space
        %p.left.store_adjust #aaaタグ
        - @ddd_posts.each do |post|
          .separate_store
            .separate_store-list
              %span.v_click{'v-on:click': "setPostInfo(#{post.id})"}
                .image_list
                  = image_tag post.images.first.image.url , class: "image_list-size"
                = link_to "#{post.name}", post_path(post) , data: {"turbolinks": false}
                = post.liked_users.count
        %p.right リンク

  .row{'v-show': 'postInfoBool'}
    .col.s12.m12
      .card.blue-grey.darken-1
        .card-content.white-text
          %p {{ postInfo.name }}



= javascript_pack_tag 'posts/index'