.image__section
  = image_tag 'patrick-tomasso-GXXYkSwndP4-unsplash' , class: "image__section--size"

.tag__section
  = render 'tag_section', post: @post , tags: @tags

.js-postsIndex
  .all_store
    .all_store-recommend
      .space
        %p.left.store_adjust #aaaタグ
        - @aaa_posts.each do |post|
          .separate_store
            .separate_store-list
              %span.v_click{'v-on:click': "setPostInfo(#{post.id})"}
                .image_list
                  = image_tag post.images.first.image.url , class: "image_list-size"
                = post.name
                = icon("fas", "far fa-heart")
                = post.liked_users.count
                = icon("fas", "comment")
                = post.comments.count
                = link_to "詳細を見る", post_path(post), class: "show_detail" , data: {"turbolinks": false}
                - if admin_signed_in? && current_admin.administrator?
                  = link_to("削除", admins_post_path(post), method: :delete)
        %p.right
        .row{'v-show': 'postInfoBool'}
          .col.s12.m12
            .card.blue-grey.darken-1
              .card-content.white-text
                .show_info {{ postInfo.name }}
                .show_info
                  %i.fas.fa-map-marker-alt.inline
                  {{ postInfo.place }}
                .show_info 
                  %i.fas.fa-subway.inline
                  {{ postInfo.station }}
                .show_info
                  %i.far.fa-clock.inline
                  .show_info-content {{ postInfo.open_time }}

  .all_store
    .all_store-recommend
      .space
        %p.left.store_adjust #aaaタグ
        - @bbb_posts.each do |post|
          .separate_store
            .separate_store-list
              %span.v_click{'v-on:click': "setPostInfo(#{post.id})"}
                .image_list
                  = image_tag post.images.first.image.url , class: "image_list-size"
                = post.name
                = icon("fas", "far fa-heart")
                = post.liked_users.count
                = icon("fas", "comment")
                = post.comments.count
                = link_to "詳細を見る", post_path(post), class: "show_detail" , data: {"turbolinks": false}
                - if admin_signed_in? && current_admin.administrator?
                  = link_to("削除", admins_post_path(post), method: :delete)
        %p.right
        .row{'v-show': 'postInfoBool'}
          .col.s12.m12
            .card.blue-grey.darken-1
              .card-content.white-text
                .show_info {{ postInfo.name }}
                .show_info
                  %i.fas.fa-map-marker-alt.inline
                  {{ postInfo.place }}
                .show_info 
                  %i.fas.fa-subway.inline
                  {{ postInfo.station }}
                .show_info
                  %i.far.fa-clock.inline
                  .show_info-content {{ postInfo.open_time }}


  .all_store
    .all_store-recommend
      .space
        %p.left.store_adjust #aaaタグ
        - @ccc_posts.each do |post|
          .separate_store
            .separate_store-list
              %span.v_click{'v-on:click': "setPostInfo(#{post.id})"}
                .image_list
                  = image_tag post.images.first.image.url , class: "image_list-size"
                = post.name
                = icon("fas", "far fa-heart")
                = post.liked_users.count
                = icon("fas", "comment")
                = post.comments.count
                = link_to "詳細を見る", post_path(post), class: "show_detail" , data: {"turbolinks": false}
                - if admin_signed_in? && current_admin.administrator?
                  = link_to("削除", admins_post_path(post), method: :delete)
        %p.right
        .row{'v-show': 'postInfoBool'}
          .col.s12.m12
            .card.blue-grey.darken-1
              .card-content.white-text
                .show_info {{ postInfo.name }}
                .show_info
                  %i.fas.fa-map-marker-alt.inline
                  {{ postInfo.place }}
                .show_info 
                  %i.fas.fa-subway.inline
                  {{ postInfo.station }}
                .show_info
                  %i.far.fa-clock.inline
                  .show_info-content {{ postInfo.open_time }}


  .all_store
    .all_store-recommend
      .space
        %p.left.store_adjust #aaaタグ
        - @ddd_posts.each do |post|
          .separate_store
            .separate_store-list
              %span.v_click{'v-on:click': "setPostInfo(#{post.id})"}
                .image_list
                  = image_tag post.images.first.image.url , class: "image_list-size"
                = post.name
                = icon("fas", "far fa-heart")
                = post.liked_users.count
                = icon("fas", "comment")
                = post.comments.count
                = link_to "詳細を見る", post_path(post), class: "show_detail" , data: {"turbolinks": false}
                - if admin_signed_in? && current_admin.administrator?
                  = link_to("削除", admins_post_path(post), method: :delete)
        %p.right
        .row{'v-show': 'postInfoBool'}
          .col.s12.m12
            .card.blue-grey.darken-1
              .card-content.white-text
                .show_info {{ postInfo.name }}
                .show_info
                  %i.fas.fa-map-marker-alt.inline
                  {{ postInfo.place }}
                .show_info 
                  %i.fas.fa-subway.inline
                  {{ postInfo.station }}
                .show_info
                  %i.far.fa-clock.inline
                  .show_info-content {{ postInfo.open_time }}
.adjust_down



= javascript_pack_tag 'posts/index'