.search_index
  .search_index-post
    - @search_posts.each do |post|
      .tag_store
        .tag_store-list
          .tag_image
            = image_tag post.images.first.image.url , class: "search_image"
          .search_block
            = link_to "#{post.name}", post_path(post) , data: {"turbolinks": false}
          .search_block
            = icon("fas", "far fa-heart")
            = post.liked_users.count
            = icon("fas", "comment")
            = post.comments.count
.footer-search
