.left_side
  .left_side-space
    .left_side-img
      = image_tag @post.images.first.image.url, class: "show_image"
      - @image.each do |image|
        %a{ href: "#{image.image.url}" , data: {lightbox: "group"} }
          = image_tag image.image.url
    .show_title 
      = @post.name
    %div{id: "star-rate-#{@post.id}"}
    = render 'posts/average', post: @post , stars: @stars
    = @count.count
    = @post.station
    = @post.open_time
    = @post.liked_users.count
    = raw(@post.tag_list.map { |t| link_to t, tag_path(t) }.join(' '))
    - @image.each do |image|
      = image_tag image.image.url
    .container
      - if current_user 
        = form_for [@post , @comment] do |f| 
          = f.text_field :title, class: "form-control"

          .form-group.row#star
            = f.label :rate,'評価', class:'col-md-3 col-form-label'
            = f.hidden_field :rate, id: :review_star

          = f.text_area :text, placeholder: "コメントする", rows: "2"
          = f.submit "SEND"
      - else
        %p コメントの投稿には新規登録/ログインが必要です
    
    = render 'posts/show_raty', comments: @comments , star: @star

    %h3 いいね件数:
    = @post.likes.count
    - if user_signed_in? && current_user.already_liked?(@post) 
      = link_to 'いいねを取り消す', post_like_path(@post),{ method: :delete }
    - elsif current_user 
      = link_to 'いいね', post_likes_path(@post),{ method: :post }
    - else
      %p redirect_to


    %h3 お気に入り
    - if user_signed_in? && current_user.already_booked?(@post)
      = link_to 'お気に入りを取り消す', post_bookmark_path(@post),{ method: :delete }
    - elsif current_user
      = link_to 'お気に入り', post_bookmarks_path(@post),{ method: :post }
    - else
      %p redirect_to

    = @post.place
    = @post.rest_day
    = @post.store_url

.right_side aaa
