.post_show_index
  .left_side
    .left_side-space
      .left_side-img
        = image_tag @post.images.first.image.url, class: "show_image"
      .all_photo
        - @image.each do |image|
          %a{ href: "#{image.image.url}" , data: {lightbox: "group"} }
            = image_tag image.image.url, size: "100x100"
      .show_title 
        = @post.name
      %div{id: "star-rate-#{@post.id}" , class: "star_average side_by_side"}
      = render 'posts/average', post: @post , stars: @stars
      .like_title.side_by_side
        - if admin_signed_in? || user_signed_in? && current_user.already_liked?(@post) 
          = link_to post_like_path(@post),{ method: :delete, class:"text-deco"} do
            %i.fas.fa-heart.unlike-btn
        - elsif current_user || current_admin
          = link_to post_likes_path(@post),{ method: :post, class:"text-deco"} do
            %i.far.fa-heart.like-btn
        - else
          = link_to logins_path do
            %i.far.fa-heart.unlike-btn
        = @post.likes.count
        - if admin_signed_in? || user_signed_in? && current_user.already_booked?(@post)
          = link_to post_bookmark_path(@post),{ method: :delete , class:"text-deco"} do
            %i.fas.fa-bookmark.unbookmark-btn
        - elsif current_user
          = link_to post_bookmarks_path(@post),{ method: :post , class:"text-deco"} do
            %i.far.fa-bookmark.bookmark-btn
        - else
          = link_to logins_path do
            %i.far.fa-bookmark.unbookmark-btn
        = @bookmarks.count
      .comment_count.side_by_side
      %br
      .post_top_info
        %i.fas.fa-subway
        = @post.station
      .post_top_info
        %i.far.fa-clock
        = @post.open_time
      .post_relative_tag
        = raw(@post.tag_list.map { |t| link_to t, tag_path(t), class: "text-deco" }.join(' '))
      .show_container
        - if current_user 
          = form_for [@post , @comment] do |f| 
            = f.text_field :title, placeholder: "タイトル", class: "form-control form_space"
            .form-group.row#star
              = f.label :rate,'評価', class:'col-md-3 col-form-label'
              = f.hidden_field :rate, id: :review_star
            = f.text_area :text, placeholder: "コメントする", rows: "2", class: "form-control"
            = f.submit "SEND", class: 'btn btn-primary btn_adjust'
      
      = render 'posts/show_raty', comments: @comments
      
      %h2.info 基本情報
      .another_info
        .another_info-title1 住所
        = @post.place
      %hr
      .another_info
        .another_info-title2 定休日
        = @post.rest_day
      %hr
      .another_info
        .another_info-title3 ホームページ
        = @post.store_url
    .footer-adjust

  .right_side
    .first_tag #おすすめ
    - @recommend.each do |p|
      .tag_block
        = image_tag p.images.first.image.url, size: "100x100"
        = link_to "#{p.name}", post_path(p) , data: {"turbolinks": false}
        = icon("fas", "far fa-heart")
        = p.liked_users.count
        = icon("fas", "comment")
        = p.comments.count
        %hr
    .first_tag #新着
    - @new_store.each do |p|
      .tag_block
        = image_tag p.images.first.image.url, size: "100x100"
        = link_to "#{p.name}", post_path(p) , data: {"turbolinks": false}
        = icon("fas", "far fa-heart")
        = p.liked_users.count
        = icon("fas", "comment")
        = p.comments.count
        %hr
    .first_tag #おしゃれ
    - @atmosphere.each do |p|
      .tag_block
        = image_tag p.images.first.image.url, size: "100x100"
        = link_to "#{p.name}", post_path(p) , data: {"turbolinks": false}
        = icon("fas", "far fa-heart")
        = p.liked_users.count
        = icon("fas", "comment")
        = p.comments.count
        %hr