<%= image_tag @post.images.first.image.url, size: "213x260" %>
<%= @post.name %>

  <div class="container">
    <% if current_user %>
      <%= form_for([@post , @comment]) do |f| %>
        <%= f.text_field :title, class: "form-control" %>

        <div class="form-group row" id="star">
          <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>

        <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= f.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

  </div>

  <div class="comments">
    <h4>＜コメント一覧＞</h4>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "users/users/#{comment.user_id}" %>：</strong>
          <%= comment.title %>
          <%= comment.text %>
          <div id="star-rate-<%= comment.id %>"></div>
          <% if admin_signed_in? || user_signed_in? && current_user.id == comment.user_id || current_admin %>
            <%=link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete %>
          <% end %>
        </p>

        <script type="application/javascript">
          $('#star-rate-<%= comment.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: '<%= comment.rate %>',
          });
        </script>

      <% end %>
    <% end %>
  </div>

  <h3>いいね件数: <%= @post.likes.count %></h3>
  <% if user_signed_in? && current_user.already_liked?(@post) %>
    <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
  <% elsif current_user %>
    <%= button_to 'いいね', post_likes_path(@post) %>
  <% else %>
    <div>redirect_to</div>
  <% end %>

  <h3>お気に入り</h3>
  <% if user_signed_in? && current_user.already_booked?(@post) %>
    <%= button_to 'お気に入りを取り消す', post_bookmark_path(@post), method: :delete %>
  <% elsif current_user %>
    <%= button_to 'お気に入り', post_bookmarks_path(@post) %>
  <% else %>
    <div>redirect_to</div>
  <% end %>

  <br>

  <h2>お気に入りリスト</h2>
    <% @bookmarks.each do |b| %>
      <% post = Post.find(b.post_id) %>
            <div class="name3"><%= link_to post.name, post_path(post) %></div>
            <%= image_tag post.images.first.image.url , class: "image_list-size" %>
    <br />
    <% end %>
