<div class="header">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <%= link_to("favorite store", root_path, {class: "my-0 mr-md-auto font-weight-normal"}) %>
    <nav class="my-2 my-md-0 mr-md-3">
      <% if admin_signed_in? && current_admin.administrator?%>
        <%= link_to("管理者ログアウト", destroy_admin_session_path, {method: :delete , class: "p-2 text-dark"}) %>
        <%= link_to("管理者投稿", admins_posts_path, {class: "p-2 text-dark"}) %>
      <% end %>
      <% if user_signed_in?%>
        <%= link_to("ログアウト", destroy_user_session_path, {method: :delete , class: "p-2 text-dark"}) %>
        <%= link_to("マイページ", "/users/users/#{current_user.id}", {class: "p-2 text-dark"}) %>
      <% end %>
    </nav>
    <%= link_to("はじめる", logins_path, {class: "btn btn-outline-primary"}) %>
  </div>
</div>