.form-top.border.col-5
  %br
  %h2新規登録
  %br
  .row
    .col-md
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| 
        = render "devise/shared/error_messages", resource: resource

        .form-group
          = f.label :nickname
          %i (6文字以下で入力してください)
          = f.text_field :nickname , class: 'form-control' , autofocus: true, maxlength: "6"

        .form-group
          = f.label :email
          = f.email_field :email , class: 'form-control', autofocus: true, autocomplete: "email" 

        .form-group
          = f.label :password 
          - if @minimum_password_length
          %i 
            = @minimum_password_length
              入力してください
          = f.password_field :password , class: 'form-control', autocomplete: "new-password"
        

        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation　, class: 'form-control', autocomplete: "new-password"
        
        .actions
          = f.submit "新規登録" , class: 'btn btn-primary'